<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/contact.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card card-register" style="background-color: transparent;">
                        <h1 class="title"><b>Contact Us</b></h1><br>
                        <div>
                            <span class="input-group-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
                                aragorndigital@gmail.com
                            </span>
                        </div><br>

                        <div>
                            <span class="input-group-text">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                +91-9175964232
                            </span>
                        </div><br>

                        <div>
                            <span class="input-group-text">
                                <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                Pune
                            </span>
                        </div>
                        <!-- <div class="social-line text-center">
                              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                  <i class="fa fa-google-plus"></i>
                              </a>
                              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                        <form class="contact-form">
                            <label>Name</label>
                            <div class="input-group form-group-no-border"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-badge"></i>
                                    </span>
                                </div>

                                <input type="text" class="form-control" placeholder="Enter Name" (focus)="focus=true"
                                    (blur)="focus=false">
                            </div>

                            <label>Email</label>
                            <div class="input-group form-group-no-border"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                </div>

                                <input type="text" class="form-control" placeholder="Enter Email" (focus)="focus=true"
                                    (blur)="focus=false">
                            </div>

                            <label>Enquiry</label>
                            <div class="input-group form-group-no-border"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-align-center"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Comment" (focus)="focus1=true"
                                    (blur)="focus1=false">
                            </div>
                            <button class="btn btn-danger btn-block btn-round">Submit</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>