<footer class="footer" style="background-color: black;">
    <div class="container" >
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-3">
          <div class="copyright">
            &copy; {{test | date: 'yyyy'}}
            <a href="#" target="_blank" style="color: white;"><b>Aragorn Digital</b></a>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Follow us on Linkedin" data-placement="bottom" href=# target="_blank">
                <i class="fa fa-linkedin-square" style="color: rgb(59, 152, 189);"></i>
                <p class="d-lg-none">Linkedin</p>
            </a>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href=# target="_blank">
                <i class="fa fa-instagram" style="color: rgb(197, 33, 162);"></i>
                <p class="d-lg-none">Instagram</p>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href=# target="_blank">
                <i class="fa fa-github" style="color: rgb(8, 105, 40);"></i>
                <p class="d-lg-none">GitHub</p>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Privacy Policy" data-placement="bottom" href=# target="_blank">
                  <i class="fa fa-user-secret"  style="color: rgb(241, 41, 6);"></i>
                  <p class="d-lg-none">Privacy Policy</p>
              </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>